<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Produtos</span>
		<button mat-raised-button (click)="home()" style="margin: auto; display: block;"> Home </button>
	</mat-toolbar-row>
	
</mat-toolbar>


<div style="margin:32px;" class="container" id= "tableContainer">

	<button mat-raised-button color="primary" (click)="novo()">Cadastrar Produto</button>
	<br/>
	<br/>
	<br/>
	<mat-table [dataSource]="produtos" class="mat-elevation-z8">
		<ng-container matColumnDef="descricao">
		  <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
		  <mat-cell *matCellDef="let produtos"> {{produtos.Description}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="valor">
		  <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
		  <mat-cell *matCellDef="let produtos">R$ {{produtos.Value}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="imagem">
			<mat-header-cell *matHeaderCellDef> Imagem </mat-header-cell>
			<mat-cell *matCellDef="let produtos"><img style="display:block; padding: 15px;" width="50%" height="50%" src="{{produtos.Image}}" ></mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
		<mat-row *matRowDef="let row; columns: colunas;"></mat-row>
	</mat-table>
</div>
