<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Produtos</span>
		<button mat-raised-button (click)="home()" style="margin: auto; display: block;"> Home </button>
	</mat-toolbar-row>
	
</mat-toolbar>


<div style="margin:32px;" class="container" id= "tableContainer">

	<button mat-raised-button color="primary" (click)="novo()">Cadastrar Produto</button>
	<br/>
	<br/>
	<br/>
	<mat-table [dataSource]="produtos" class="mat-elevation-z8">
		<!-- Name Column -->
		<ng-container matColumnDef="description">
		  <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
		  <mat-cell *matCellDef="let produtos"> {{produtos.Description}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="value">
		  <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
		  <mat-cell *matCellDef="let produtos">R$ {{produtos.Value}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="image">
			<mat-header-cell *matHeaderCellDef> Imagem </mat-header-cell>
			<mat-cell *matCellDef="let produtos"></mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>


<!-- <div style="margin:32px;">

	<button mat-raised-button color="primary" (click)="novo()">Cadastrar Produto</button>

	<br />
	<br />
	<br />


	<table>
		<tr>
      
      <th>Descrição</th>
	  <th>Valor</th>
	  <th>Imagem</th>
	  
		</tr>
		
		<tr *ngFor="let produto of produtos">
      
      <td>{{produto.Description}}</td>
      <td>R$ {{produto.Value}}</td>
	  <td><img height="100"  src="assets/{{produto.ImagePath}}"></td>
	  
	 
      
		</tr>
		
	</table>

</div> -->