<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Produtos</span>
	</mat-toolbar-row>
</mat-toolbar>

<div style="margin:32px;">

	<button mat-raised-button color="primary" (click)="novo()">Cadastrar Produto</button>

	<br />
	<br />
	<br />


	<table>
		<tr>
      
      <th>Descrição</th>
	  <th>Valor</th>
	  <th>Imagem</th>
	  
		</tr>
		
		<tr *ngFor="let produto of produtos">
      
      <td>{{produto.Description}}</td>
      <td>R$ {{produto.Value}}</td>
	  <td><img height="100"  src="assets/{{produto.ImagePath}}"></td>
	  
	 
      
		</tr>
		
	</table>

</div>