<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Clientes</span>
		<button mat-raised-button (click)="home()" style="margin: auto; display: block;"> Home </button>

	</mat-toolbar-row>
</mat-toolbar>

<div style="margin:32px;" class="container" id= "tableContainer">

	<button mat-raised-button color="primary" (click)="novo()">Cadastrar Cliente</button>
	<br/>
	<br/>
	<br/>
	<mat-table [dataSource]="clientes" class="mat-elevation-z8">
		<ng-container matColumnDef="nome">
		  <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
		  <mat-cell *matCellDef="let cliente"> {{cliente.Name}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="email">
		  <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
		  <mat-cell *matCellDef="let cliente"> {{cliente.Email}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="pedidos">
			<mat-header-cell *matHeaderCellDef> Pedidos </mat-header-cell>
			<mat-cell *matCellDef="let cliente"><button  mat-raised-button color="primary"  (click)="pedidos(cliente)">Ver Pedidos</button></mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
		<mat-row *matRowDef="let row; columns: colunas;"></mat-row>
	</mat-table>
  </div>
