<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Novo Produto</span>
	</mat-toolbar-row>
</mat-toolbar>

<mat-card style="margin:32px;">
	<form [formGroup]="form" (ngSubmit)="cadastrar()">

    
    <mat-form-field class="full-width">
			<input type="text" formControlName="descricao" required name='descricao' matInput placeholder="Descrição" >
			<mat-error *ngIf="form.controls.descricao.hasError('required')">
				A descrição é <strong>obrigatória</strong>
			</mat-error>
			<mat-error *ngIf="form.controls.descricao.hasError('minlength')">
				A descrição precisa ter 10 ou mais caracteres!
			</mat-error>
      
    </mat-form-field>
    
    <mat-form-field class="full-width">
			<input type="number" formControlName="valor" required name='valor'  matInput placeholder="Valor" >
			<mat-error *ngIf="form.controls.valor.hasError('required')">
				O valor é <strong>obrigatório</strong>
			 </mat-error>
			 <mat-error *ngIf="form.controls.valor.hasError('min')">
				O valor não pode ser negativo!
			</mat-error>
			 
      
	</mat-form-field>
	
	<label class="image-upload-container btn btn-bwm">
		<span>Select Image <br/></span>
		<input formControlName="imageInput" name="imageInput"
			   type="file"
			   accept="image/*"
			   (change)="processFile($event)">
	  </label>

		<br />
		<br />

		<button mat-raised-button color="primary">Salvar</button>

	</form>

	

</mat-card>